*.bak
*humbs.db
/down/mariadb-*.tar.gz
/down/mysql-*.tar.gz
/down/nginx-*.tar.gz
/down/httpd-*.tar.gz
/down/php-*.tar.gz
/down/coreseek-*.tar.gz
/down/phpMyAdmin-*-all-languages.tar.gz
/down/memcached-*.tar.gz
/down/xdebug-*.tgz
/down/sphinx-*.tar.gz
/down/xdict_1.1.tar.gz
