#! /bin/sh
# Startup script for the nginx Web Server
# chkconfig: - 85 15
# description: nginx is a World Wide Web server. It is used to serve
# HTML files and CGI.
# processname: nginx
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
DESC="nginx daemon"
NAME=nginx
IN_DIR="/www/lanmps"
DAEMON=$IN_DIR/nginx/sbin/$NAME
CONF=$IN_DIR/nginx/conf/$NAME.conf
PID_FILE=$IN_DIR/nginx/logs/$NAME.pid
SCRIPT_NAME=$IN_DIR/init.d/$NAME
IN_WEB_LOG_DIR="/www/wwwLogs"

set -e
[ -x "$DAEMON" ] || exit 0

do_start() {
 $DAEMON -c $CONF || echo -n "nginx already running"
}

do_stop() {
 kill -INT `cat $PID_FILE` || echo -n "nginx not running"
}

do_reload() {
 kill -HUP `cat $PID_FILE` || echo -n "nginx can't reload"
}

case "$1" in
 start)
 echo -n "Starting $DESC: $NAME"
 do_start
 echo "."
 ;;
 stop)
 echo -n "Stopping $DESC: $NAME"
 do_stop
 echo "."
 ;;
 reload|graceful)
 echo -n "Reloading $DESC configuration..."
 do_reload
 echo "."
 ;;
 restart)
 echo -n "Restarting $DESC: $NAME"
 do_stop
 do_start
 echo "."
 ;;
 status)
	if [ -f $PID_FILE ]; then
		echo "Nginx is runing!"
    else
		echo "Nginx is stop!"
    fi
 ;;
 cutLog)
	YESTERDAY=`date -d "yesterday" +%Y-%m-%d`
	[ ! -d $IN_WEB_LOG_DIR/logs ] && mkdir $IN_WEB_LOG_DIR/logs
	for filename in `ls $IN_WEB_LOG_DIR`
		do 
			if [ -f $IN_WEB_LOG_DIR/$filename ] ; then
				tmpPath=$IN_WEB_LOG_DIR/logs/${filename%.log}
				[ ! -d $tmpPath ] && mkdir $tmpPath
				mv $IN_WEB_LOG_DIR/$filename $tmpPath/${YESTERDAY}.log
				rm -rf $IN_WEB_LOG_DIR/$filename
			fi
		done
		
		
	kill -USR1 `cat $PID_FILE`
 ;;
 *)
 echo "Usage: $SCRIPT_NAME {start|stop|reload|restart|status|cutLog} 
 or Usage: /etc/init.d/$NAME {start|stop|reload|restart|status|cutLog} " >&2
 exit 3
 ;;
esac

exit 0
